@model List<ResultMessageDto>
    @{
    Layout= "_AdminLayout";
    ViewData["Title"] = "Mesajlar";
    }

    <table class="table table-hover table-bordered">
        @{
        int count = 0;
        }
        <tr>
            <th>#</th>
            <th>Gönderen Ad Soyad</th>
            <th>Email</th>
            <th>Konu</th>
            <th>İçerik</th>
            <th>Mesaj tarihi</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.MessageContent</td>
            <td>@item.MessageDate</td>

            <td>
                <button onclick="deleteMessage(this)" class="btn btn-outline-danger" data-subject="@item.Subject"
                    data-name="@item.Name" id="@item.Id">Sil</button>

                <a asp-controller="Message" asp-action="MessageDetails" asp-route-id="@item.Id"
                    class="btn btn-outline-primary">Messajı görüntüle</a>
            </td>
        </tr>
        }
    </table>
    <a asp-controller="Message" asp-action="CreateMessage" class="btn btn-outline-success">Yeni Mesaj
        Ekle</a>

    <script>
        function deleteMessage(button) {
            var id = button.getAttribute("id");
            var name = button.getAttribute("data-name");
            var subject = button.getAttribute("data-subject");
            Swal.fire({
                title: name + 'kişisinin gönderdiği' + subject + 'konulu mesajı Silmek istediğinize Emin misiniz?',
                text: "Bu işlemi geri alamaszsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Message/DeleteMessage/" + id;
                }
            });
        };
    </script>